*{
    margin: 0;
    padding: 0;
  }
  div.container{
    width: 80;
    margin: 0 auto 0 auto;
    background-color:rgba(253, 201, 153, 0.795);
  }
  nav ul{
    background-color: rgb(200, 216, 230);
      text-align: center;
    }
    li{
      display: inline-block;
      width: 150px;
      border: 2px solid white;
      line-height: 3em;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-variant: small-caps;
      }
.hero {
  text-align: center;
  color: rgb(75, 108, 228);border: 5px solid pink;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 div.footer{
  color:rgb(76, 89, 177)
 }
div.left, .middle, .right {
  text-align: center;
  color:rgb(93, 56, 112);
}



